<ion-app>
  <ion-menu side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>myBnB</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
          <ion-item routerLink="/logements/tabs/discover">
            <ion-icon slot="start" name="business"></ion-icon>
            <ion-label>Découvrez des endroits inoubliables</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item routerLink="/bookings">
            <ion-icon slot="start" name="card"></ion-icon>
            <ion-label>vos réservation</ion-label>
          </ion-item>
        </ion-menu-toggle>

        <ion-menu-toggle>
          <ion-item button (click)="onLogout()">
            <ion-icon slot="start" name="exit"></ion-icon>
            <ion-label>Déconnexion</ion-label>
          </ion-item>
        </ion-menu-toggle>

      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>
</ion-app>