<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/logements/tabs/offres"></ion-back-button>
    </ion-buttons>
    <ion-title> {{logement.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button color="primary" 
              margin 
              [routerLink]="['/', 
                            'logements', 
                            'tabs', 
                            'offres', 
                            'edit', 
                            logement.id]"> Modifier</ion-button>
  
</ion-content>