
   
          <ion-buttons class="navbar-nav ">
            <ion-button routerLink="auth/signup" 
                        *ngIf="!isAuth"
                        class="navbar-brand nav-item">Créer un compte</ion-button>
            <ion-button routerLink="auth/signin" 
                        routerLinkActive="active" 
                        *ngIf="!isAuth" 
                        class="navbar-brand nav-item">Connexion</ion-button>
            <ion-button routerLink="auth/signin" 
                        *ngIf="isAuth"
                        class="navbar-brand nav-item"
                        (click)="onSignOut()"
                        style="cursor: pointer">déconnexion</ion-button>
          </ion-buttons>

          


