<ion-header>
  <ion-toolbar>
    <ion-title>offres</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/logements/tabs/offres/new">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item detail *ngFor="let element of loadedOffres"
            [routerLink]="['/', 'logements', 'tabs', 'offres', element.id]">
            <ion-thumbnail slot="start">
              <ion-img [src]="element.imageUrl"></ion-img>
            </ion-thumbnail>
            <ion-label>
              <h2> {{element.title}} </h2>
              <p> {{element.description}} </p>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>